# Wide to Long Format

In [1]:
import pandas as pd
import numpy as num

In [2]:
data = pd.read_excel('/Volumes/bresslergroup/Shared/BG Clients/94204 - Samsung EOV/05 - UR/4 - Data/20200720a - Data - Phase 1 Elements of Value - DRAFT copy.xlsx')

## Below is what the data originally looks like (only first 20 rows to save space)

In [27]:
df = data.head(20)
df

,Finished,Date,Response ID,PID,Gender,Age,Brand,Other Android,iPhone Model,Older iPhone Model,...,Other Wireless Carrier,Marital Status,Household Income,Education,Other Education,Employment,Occupation,Other Occupation,Segment,gc
0,True,2020-07-20 09:45:09,R_aXmDmwWggyyauot,P01,Male,25-34,Apple,NaN,iPhone 11,NaN,...,NaN,Single without children,"$75,000-$99,999",Masters / Post-graduate certification,NaN,Employed full-time,"Professional, Technical, and Related Occupations",NaN,Expressers,NaN
1,True,2020-07-20 09:45:09,R_2n4mDypHvVcry9T,P02,Male,35-44,Google,NaN,NaN,NaN,...,NaN,Married without children,Prefer not to answer,Masters / Post-graduate certification,NaN,Employed full-time,"Handlers, Equipment Cleaners, Helpers, and Lab...",NaN,Expressers,NaN
2,False,2020-07-20 09:45:09,R_0faxTabFs6vw4xT,P03,Female,25-34,Samsung,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,True,2020-07-20 09:45:09,R_2shSLWBLzfglhJj,P04,Female,25-34,Google,NaN,NaN,NaN,...,NaN,Life partner without children,Prefer not to answer,"Ph.D. or professional degrees (M.D., J.D.)",NaN,Employed full-time,"Professional, Technical, and Related Occupations",NaN,Productives,NaN
4,True,2020-07-20 09:45:09,R_41scVuzu1NVb66h,P05,Male,35-44,Google,NaN,NaN,NaN,...,NaN,Married without children,Prefer not to answer,Prefer not to answer,NaN,Prefer not to answer,NaN,NaN,Expressers,NaN
5,True,2020-07-20 09:45:09,R_3EEkYkv5mbzboFL,P06,Female,25-34,Apple,NaN,Older Model (please enter model name),iPhone 6S,...,NaN,Single without children,Prefer not to answer,Graduated 4-year university,NaN,Employed full-time,"Professional, Technical, and Related Occupations",NaN,Traditionalists,NaN
6,True,2020-07-20 09:45:09,R_6YdUBuksDEwG9CJ,P07,Female,18-24,Apple,NaN,iPhone 11 Pro Max,NaN,...,NaN,Life partner without children,"$200,000 or more",Graduated 4-year university,NaN,Prefer not to answer,"Precision, Production, Craft, and Repair Occup...",NaN,Productives,1.0
7,True,2020-07-20 09:45:09,R_bl2zGnfrxGjh4Mt,P08,Female,35-44,Samsung,NaN,NaN,NaN,...,Cricket,Single with children,"Less than $15,000",Graduated high School,NaN,Homemaker or not working by choice,NaN,NaN,Social Savvies,1.0
8,True,2020-07-20 09:45:09,R_8Jj9vcoo6IiDqaV,P09,Male,25-34,LG,NaN,NaN,NaN,...,NaN,Single without children,"Less than $15,000",Graduated 2-year college or technical school,NaN,Employed full-time,"Professional, Technical, and Related Occupations",NaN,Expressers,1.0
9,True,2020-07-20 09:45:09,R_eVuYroFNWeCScEB,P10,Female,18-24,LG,NaN,NaN,NaN,...,NaN,Life partner without children,"$200,000 or more",Graduated 4-year university,NaN,Retired,"Executive, Administrative, and Managerial Occu...",NaN,Productives,1.0
10,True,2020-07-20 09:45:09,R_3DzTBGPU2XaSEhD,P11,Male,Under 18,Apple,NaN,iPhone 11 Pro Max,NaN,...,NaN,Prefer not to answer,"Less than $15,000",Attended or currently attending 4-year university,NaN,Employed part-time,NaN,NaN,Productives,1.0
11,True,2020-07-20 09:45:09,R_0vz0MMneJ8Cppfn,P12,Female,18-24,Huawei,NaN,NaN,NaN,...,NaN,Single without children,"$200,000 or more","Ph.D. or professional degrees (M.D., J.D.)",NaN,Prefer not to answer,Transportation and Material Moving Occupations,NaN,Productives,1.0
12,True,2020-07-20 09:45:09,R_1U0mnNepxn1XfQ9,P13,Male,35-44,Apple,NaN,iPhone 11,NaN,...,NaN,Married with children,"$200,000 or more","Ph.D. or professional degrees (M.D., J.D.)",NaN,Employed full-time,"Executive, Administrative, and Managerial Occu...",NaN,Productives,1.0
13,True,2020-07-20 09:45:09,R_2tcLZ4RVXf6BsEZ,P14,Female,18-24,Apple,NaN,iPhone 11 Pro,NaN,...,NaN,Single without children,"$200,000 or more",Graduated 4-year university,NaN,Employed part-time,Service Occupations,NaN,Productives,1.0
14,True,2020-07-20 09:45:09,R_bKiuONjmXivYsZL,P15,Male,25-34,Apple,NaN,iPhone 11 Pro,NaN,...,NaN,Married with children,"$100,000-$149,999",Masters / Post-graduate certification,NaN,Employed full-time,Sales Occupations,NaN,Productives,1.0
15,True,2020-07-20 09:45:09,R_8kXy4sGuMSm71PL,P16,Female,18-24,Google,NaN,NaN,NaN,...,NaN,Life partner with children,"$150,000-$199,999","Ph.D. or professional degrees (M.D., J.D.)",NaN,Not employed,Transportation and Material Moving Occupations,NaN,Browsers,1.0
16,True,2020-07-20 09:45:09,R_3eq1SWKlDxC8Uo5,P17,Female,18-24,Apple,NaN,iPhone 8 Plus,NaN,...,NaN,Single without children,"$75,000-$99,999",Masters / Post-graduate certification,NaN,Employed full-time,"Professional, Technical, and Related Occupations",NaN,Productives,1.0
17,True,2020-07-20 09:45:09,R_8DhObupYXcA2x8h,P18,Female,35-44,Apple,NaN,iPhone X,NaN,...,NaN,Life partner with children,"$50,000-$74,999",Graduated 4-year university,NaN,Employed part-time,Private Household Occupations,NaN,Productives,1.0
18,True,2020-07-20 09:45:09,R_0GSMAi9TD2dpfb7,P19,Male,Under 18,Apple,NaN,iPhone 11,NaN,...,NaN,Married without children,"$100,000-$149,999",Graduated 4-year university,NaN,Employed full-time,"Executive, Administrative, and Managerial Occu...",NaN,Productives,1.0
19,True,2020-07-20 09:45:09,R_a9Pua1Y3DZT0pz7,P20,Male,35-44,Apple,NaN,iPhone 8 Plus,NaN,...,NaN,Married with children,"$200,000 or more","Ph.D. or professional degrees (M.D., J.D.)",NaN,Employed full-time,"Professional, Technical, and Related Occupations",NaN,Social Savvies,1.0

## Let's try changing from wide format to long format using pd.melt()
id_vars is the identifier variable (the column that will "stay the same") and value_vars are what we want to see. Therefore, I want to see the gender and household income of each brand user, I can do the following:

In [29]:
df_long = pd.melt(df, id_vars=["Brand"], value_vars=['Gender','Household Income'])
df_long.head(40)

      Brand          variable                 value
0     Apple            Gender                  Male
1    Google            Gender                  Male
2   Samsung            Gender                Female
3    Google            Gender                Female
4    Google            Gender                  Male
5     Apple            Gender                Female
6     Apple            Gender                Female
7   Samsung            Gender                Female
8        LG            Gender                  Male
9        LG            Gender                Female
10    Apple            Gender                  Male
11   Huawei            Gender                Female
12    Apple            Gender                  Male
13    Apple            Gender                Female
14    Apple            Gender                  Male
15   Google            Gender                Female
16    Apple            Gender                Female
17    Apple            Gender                Female
18    Apple            Gender                  Male
19    Apple            Gender                  Male
20    Apple  Household Income       $75,000-$99,999
21   Google  Household Income  Prefer not to answer
22  Samsung  Household Income                   NaN
23   Google  Household Income  Prefer not to answer
24   Google  Household Income  Prefer not to answer
25    Apple  Household Income  Prefer not to answer
26    Apple  Household Income      $200,000 or more
27  Samsung  Household Income     Less than $15,000
28       LG  Household Income     Less than $15,000
29       LG  Household Income      $200,000 or more
30    Apple  Household Income     Less than $15,000
31   Huawei  Household Income      $200,000 or more
32    Apple  Household Income      $200,000 or more
33    Apple  Household Income      $200,000 or more
34    Apple  Household Income     $100,000-$149,999
35   Google  Household Income     $150,000-$199,999
36    Apple  Household Income       $75,000-$99,999
37    Apple  Household Income       $50,000-$74,999
38    Apple  Household Income     $100,000-$149,999
39    Apple  Household Income      $200,000 or more

## If we want more columns, we can do as such:

In [67]:
df_long = pd.melt(df, id_vars = ['Brand', 'Tier'], value_vars=['Gender','Household Income'])
df_long

      Brand           Tier          variable                 value
0     Apple         Budget            Gender                  Male
1    Google            Mid            Gender                  Male
2   Samsung            Mid            Gender                Female
3    Google         Budget            Gender                Female
4    Google            Mid            Gender                  Male
5     Apple            Mid            Gender                Female
6     Apple            Mid            Gender                Female
7   Samsung         Budget            Gender                Female
8        LG         Budget            Gender                  Male
9        LG            Mid            Gender                Female
10    Apple         Budget            Gender                  Male
11   Huawei  Super Premium            Gender                Female
12    Apple  Super Premium            Gender                  Male
13    Apple            Mid            Gender                Female
14    Apple         Budget            Gender                  Male
15   Google         Budget            Gender                Female
16    Apple         Budget            Gender                Female
17    Apple  Super Premium            Gender                Female
18    Apple            Mid            Gender                  Male
19    Apple  Super Premium            Gender                  Male
20    Apple         Budget  Household Income       $75,000-$99,999
21   Google            Mid  Household Income  Prefer not to answer
22  Samsung            Mid  Household Income                   NaN
23   Google         Budget  Household Income  Prefer not to answer
24   Google            Mid  Household Income  Prefer not to answer
25    Apple            Mid  Household Income  Prefer not to answer
26    Apple            Mid  Household Income      $200,000 or more
27  Samsung         Budget  Household Income     Less than $15,000
28       LG         Budget  Household Income     Less than $15,000
29       LG            Mid  Household Income      $200,000 or more
30    Apple         Budget  Household Income     Less than $15,000
31   Huawei  Super Premium  Household Income      $200,000 or more
32    Apple  Super Premium  Household Income      $200,000 or more
33    Apple            Mid  Household Income      $200,000 or more
34    Apple         Budget  Household Income     $100,000-$149,999
35   Google         Budget  Household Income     $150,000-$199,999
36    Apple         Budget  Household Income       $75,000-$99,999
37    Apple  Super Premium  Household Income       $50,000-$74,999
38    Apple            Mid  Household Income     $100,000-$149,999
39    Apple  Super Premium  Household Income      $200,000 or more

In [70]:
#Then we can export to excel using:

df_long.to_excel("long.xlsx")

In [69]:
df.pivot_table(index = ["Brand", 'Tier'], columns = "Age") 
# Another way to organize based on multiple factors.

                      Adobe Photoshop Express rate                       \
Age                                          18-24 25-34 35-44 Under 18
Brand   Tier
Apple   Budget                                 5.0   4.0   NaN      2.0
        Mid                                    4.0   NaN   NaN      NaN
        Super Premium                          NaN   NaN   4.0      NaN
Google  Budget                                 NaN   3.0   NaN      NaN
        Mid                                    NaN   NaN   NaN      NaN
Huawei  Super Premium                          3.0   NaN   NaN      NaN
LG      Budget                                 NaN   5.0   NaN      NaN
        Mid                                    2.0   NaN   NaN      NaN
Samsung Budget                                 NaN   NaN   NaN      NaN
        Mid                                    NaN   NaN   NaN      NaN

                      Amazon Alexa Echo Smart Speaker(s) rate                 \
Age                                                     18-24 25-34 Under 18
Brand   Tier
Apple   Budget                                            5.0   NaN      4.0
        Mid                                               5.0   4.0      NaN
        Super Premium                                     NaN   NaN      NaN
Google  Budget                                            NaN   NaN      NaN
        Mid                                               NaN   NaN      NaN
Huawei  Super Premium                                     NaN   NaN      NaN
LG      Budget                                            NaN   NaN      NaN
        Mid                                               NaN   NaN      NaN
Samsung Budget                                            NaN   NaN      NaN
        Mid                                               NaN   4.0      NaN

                      Amazon Alexa Smart Display rate                 ...  \
Age                                             18-24 25-34 Under 18  ...
Brand   Tier                                                          ...
Apple   Budget                                    4.0   NaN      2.0  ...
        Mid                                       5.0   NaN      NaN  ...
        Super Premium                             NaN   NaN      NaN  ...
Google  Budget                                    NaN   NaN      NaN  ...
        Mid                                       NaN   NaN      NaN  ...
Huawei  Super Premium                             NaN   NaN      NaN  ...
LG      Budget                                    NaN   NaN      NaN  ...
        Mid                                       NaN   NaN      NaN  ...
Samsung Budget                                    NaN   NaN      NaN  ...
        Mid                                       NaN   4.0      NaN  ...

                      iHeartRadio Paid          iHeartRadio rate        \
Age                              35-44 Under 18            18-24 25-34
Brand   Tier
Apple   Budget                     NaN      0.0              3.0   5.0
        Mid                        NaN      NaN              3.5   NaN
        Super Premium              0.0      NaN              NaN   NaN
Google  Budget                     NaN      NaN              3.0   3.0
        Mid                        NaN      NaN              NaN   NaN
Huawei  Super Premium              NaN      NaN              2.0   NaN
LG      Budget                     NaN      NaN              NaN   NaN
        Mid                        NaN      NaN              3.0   NaN
Samsung Budget                     0.0      NaN              NaN   NaN
        Mid                        NaN      NaN              NaN   2.0

                                         iMessage rate                  \
Age                       35-44 Under 18         18-24 25-34     35-44
Brand   Tier
Apple   Budget              NaN      3.0           3.0   4.5       NaN
        Mid                 NaN      NaN           3.0   5.0       NaN
        Super Premium  3.666667      NaN           NaN   NaN  3.666667
Google  Budget              NaN      NaN           NaN   NaN       NaN
        Mid                 NaN      NaN           NaN   NaN       NaN
Huawei  Super Premium       NaN      NaN           NaN   NaN       NaN
LG      Budget              NaN      NaN           NaN   NaN       NaN
        Mid                 NaN      NaN           NaN   NaN       NaN
Samsung Budget         5.000000      NaN           NaN   NaN       NaN
        Mid                 NaN      NaN           NaN   NaN       NaN


Age                   Under 18
Brand   Tier
Apple   Budget             4.0
        Mid                NaN
        Super Premium      NaN
Google  Budget             NaN
        Mid                NaN
Huawei  Super Premium      NaN
LG      Budget             NaN
        Mid                NaN
Samsung Budget             NaN
        Mid                NaN

[10 rows x 4457 columns]